$body-font: "MarkPro", "Helvetica", "sans-serif";
$headers-font: "MarkPro", "Helvetica", "sans-serif";

@font-face {
  font-family: "MarkPro";
  src: font-url('MarkPro-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: "MarkPro";
  src: font-url('MarkPro-Book.otf');
  font-weight: normal;
}

@font-face {
  font-family: "MarkPro";
  src: font-url('MarkPro-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "MarkPro";
  src: font-url('MarkPro-Heavy.otf');
  font-weight: bolder;
}
