<h1><%= %>You are invited to join you new flat on Kokoon!</h1>
<p style="color: blue; font-family: Open Sans, sans-serif; font-size: 30px;">Hi there,</p>

<p>Hi!</p>

<p>We're waiting for you to accept your new rental at <a href="http://www.kokoon.space/users/sign_up">Kokoon</a>.</p>

<p>See you there,</p>

<p>Kokoon team.</p>

