<h1>User#welcome</h1>

<p>
  <%= @greeting %> <!-- find me in app/views/user_mailer/welcome.html.erb
</p> -->


<p>Hi there,</p>

<p></p>

<p>Thanks for joining your new home!</p>

<p>We're here to help make communication about your home easier for you.<p/>

<p>Kokoon has set up your personal space for your flat - come and take a look around!</p>

<p>See you there,</p>

<p>Kokoon team.</p>
