<%= simple_form_for [@flat, @rental, @ticket, @comment] do |f| %>
  <%= f.input :content,
              placeholder: "Place your comment here" %>
  <div class="button-box"><%= f.submit class: 'btn-primary' %></div>
<% end %>
