.flat-row {
  padding: 0;
  margin: 0;
  p {
  height: 0px;
  line-height: 0px;
  }
}

.flat-content-box {
  padding: 30px;
  h1 {
    color: rgb(3, 198, 210);
  }
}

.landlord-box {
  img {
    object-fit: cover;
  }
}

