.flat-row {
  padding: 0;
  margin: 0;
  p {
  height: auto;
  line-height: 1.5;
  text-align: left;
  }
}

.flat-content-container {
  padding: 30px;
  h1 {
    color: rgb(3, 198, 210);
  }
}

.landlord-box {
  img {
    object-fit: cover;
  }
}

.flat-show-box {
  padding: 50px;
  background: white;
  box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;

  a {
    color: $kokoon;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

}

.tenant-details-footer {
  margin-top: 50px;
}
