.form-container {
background: rgb(31,236,255);
background: linear-gradient(120deg, rgba(31,236,255,1) 27%, rgba(31,198,255,1) 69%, rgba(31,131,255,1) 100%);
  width: 100%;
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
   justify-content: center;

}


.forms {
  background: rgb(31,236,255);
  background: linear-gradient(120deg, rgba(31,236,255,1) 27%, rgba(31,198,255,1) 69%, rgba(31,131,255,1) 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;


}

.form-actions {
  margin-top: 60px;
}



.forms a:hover {
  text-decoration: underline;
}
.form-box {
  margin-top: 30px;
  width: 400px;
  #form-title {
    margin-bottom: 30px;
    width: 400px;
    color: #3f3f3f;
    text-align: center;
    font-size: 30px;
  }

  .form-control {
  border: 0;
  margin: 0 auto;
  border-radius: 0;
  &:focus {
    box-shadow: none;
    border: 2px solid #3f3f3f;
  }
  .is-invalid{
    background-image: none;
}
}
  .form-check {
    margin: 0 auto;
    text-align: right;
    font-size: .8em;

  }

  & a {
    color: #3f3f3f;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
  }
  .text-muted {
    color: white !important;
  }
}

.form-control {
  border: 0;
  margin: 0 auto;
  border-radius: 0;
  &:focus {
    box-shadow: none;
    border: 2px solid #3f3f3f;
  }
}

.form-links {
  text-align: center;
  margin-top: 40px;


  a {
        -webkit-transition: all .7s ease;

    color: #3f3f3f;
    font-size: 1.1em;
    &:hover {
      text-decoration: underline;
    }
  }


}


.algolia-places .ap-dropdown-menu {
  color: black;
}

.google-signup {
  margin-top: 5px;
  img {
    width: 18px;
  }
}

