.form-container {
background: rgb(31,236,255);
background: linear-gradient(120deg, rgba(31,236,255,1) 27%, rgba(31,198,255,1) 69%, rgba(31,131,255,1) 100%);
  width: 100%;
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
   justify-content: center;

}


.forms {
  background: rgb(31,236,255);
  background: linear-gradient(120deg, rgba(31,236,255,1) 27%, rgba(31,198,255,1) 69%, rgba(31,131,255,1) 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
    padding-bottom: 100px;
    height: 100vh;


}

.form-actions {
  margin-top: 60px;
}



.forms a:hover {
  text-decoration: underline;
}
.form-box {
  margin-top: 100px;
  width: 450px;
  height: 50%;
  #form-title {
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 20px;
    color: #3f3f3f;
    text-align: center;
    font-size: 30px;
  }

  .form-control {
  border: 0;
  margin: 0 auto;
  border-radius: 0;
  &:focus {
    box-shadow: none;
    border: 2px solid #3f3f3f;
  }
  .is-invalid{
    background-image: none;
}
}
  .form-check {
    margin: 0 auto;
    text-align: right;
    font-size: .8em;

  }

  & a {
    color: #3f3f3f;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
  }
  .text-muted {
    color: white !important;
  }
}

.form-control {
  border: 0;
  margin: 0 auto;
  border-radius: 0;
  &:focus {
    box-shadow: none;
    border: 2px solid #3f3f3f;
  }
}

.form-links {
  text-align: center;
  margin: 40px auto;


  a {
        -webkit-transition: all .7s ease;

    color: #3f3f3f;
    font-size: 1.1em;
    &:hover {
      text-decoration: underline;
    }
  }
}


.algolia-places .ap-dropdown-menu {
  color: black;
}

.google-signup {
  margin-top: 5px;
  img {
    width: 18px;
  }
}


// Test Zoé

.form-group {
  color: white;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px 12px 12px;
}
.box-minmax{
  margin-top: 8px;
  margin-bottom: 8px;
  width: 426px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #FFFFFF;
  span:first-child{
    margin-left: 5px;
  }
 span:last-child{
    margin-right: 5px;
  }
}
// .range-slider {
//     margin-top: 30vh;

// }
.rs-range {
    margin: 10px;
    padding: 0px;
    width: 426px;
    height: 5px;
    -webkit-appearance: none;
    &:focus {
        border: none;
    }
    &::-webkit-slider-runnable-track {
        width: 426px;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
    }
    &::-moz-range-track {
        width: 426px;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        // box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 32px;
        width: 15px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 32px;
        width: 15px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
}
.rs-label {
    position: relative;
    top: -8px;
    left: -2px;
    transform-origin: center center;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    // line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    box-sizing: border-box;
    border: 2px solid #fff;
    left: attr(value);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    // &::after {
    //     content: "kg";
    //     display: block;
    //     font-size: 20px;
    //     letter-spacing: 0.07em;
    //     margin-top: -2px;
    // }

}
