.ticket-show-box {
  padding: 30px 50px;
  background: rgba(0,0,0,.1);
  box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.ticket-show-box-main {
  background: white;
  box-shadow: 3px 4px 11px -4px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.ticket-description {
  padding: 30px;
  h3 {
    font-weight: bolder;
  }
}
 .ticket-author {
  display: flex;
  align-items: center;
 }

 .all-details {
  width: 100%;
  margin-right: 0;
 }
.details {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  h5 {
  width: 300px;
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
  display: block;
}
}


.ticket-header-img {
  padding: 0px;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.listeners {
  margin-top: 30px;
}

.listener-cards {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  padding: 30px 5px;
  align-items: center;
  img {
    margin-right: 25px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  h3 {
    font-size: 18px;
  }
}

.ticket-author {
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.comment-section {
  display: flex;
  img {
    border: 2px solid #3f3f3f;
  }

}
#comments{
  margin: 50px 0px;
  h3 {
      color: #3f3f3f;
      font-weight: bolder;
  }
  img {
    width: 100px;
    height: 100px;
    margin-right: 60px;
  }

}
#new_comment label {
  color: #3f3f3f;
}
.form-group .string .required .comment_content .string .required #text {
  color: #3f3f3f;
}

.ticket-show-box-main h3 {
  color: #3f3f3f;
}

.ticket-show-box h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}


#comment_content {
  border-radius: 15px;
}

.icon-contact {
  font-size: 20px;
  color: #3f3f3f;
  padding: 10px 20px;

}

.icon-contact i {
  width: 20px;
}
.ticket-owner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  a {
    font-size: 20px;
    color: $kokoon;
    &:hover {
    text-decoration: none;
  }
  }
}
.ticket-owner-box .fas {
  margin-right: 0;
}
.contact-action-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    padding: 10px;

  }

}


.far .fa-envelope {
  width: 20px;
}


.ticket-owner-box a {
  font-size: 25px;
}
.ticket-owner-box p {
  font-size: 14px;
}

.ticket-show-box .listeners {
  margin-top: 50px;
}
.comment-details {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  h3 {
    font-size: 24px;
  }
  p {
    margin-top: 20px;
  }
  a {
    color: #0f52ff;
    margin-top: 20px;
  }
}

// Modal for add ticket adjustment

.modal-header {
  border: 0;
  display: block;
  font-size: 30px;

}

.modal-header .close {
  margin-left: 0;
  text-shadow: none;

}

.modal-header h5 {
  text-align: center;
  margin-right: 0;
  display: block;
  font-size: 24px;
}

.modal-title {
  text-align: center;
}
.modal-content {
  padding: 20px 20px 40px 20px;
  background: linear-gradient(113deg, rgba(18,113,255,.8) 0%, rgba(28,204,255,1) 100%);
  color: #3f3f3f;
  border-radius: 0;
}

.modal-content label {

}

.close {
}

.addflat-avatar {
  border: 2px solid white;
}
.moday-body {
  border-top: 0;
}

.row.subscribers {
  width: 100%;
  background-color: red;
  display: flex;
}



.subscribers-avatar
#subscribers {
  font-size: 16px;
  margin-top: 40px;
  color: #3f3f3f;
}


#ticket_category .form-control .select .required {
  border-radius: 0;
}
