<% unless @flat.pending_rentals.empty? %>
  <h3>Pending invites</h3>
  <% @flat.pending_rentals.each do |rental| %>
    <p>
      Your invitation to <%= rental.tenant_email %> is still pending.
      <%= link_to("Edit invitation", edit_flat_rental_path(@flat, rental)) %>
      <%= link_to("Send invitation back", "#") %>
    </p>
  <% end %>
<% end %>

<% unless @flat.accepted_rentals.empty? %>
  <h3>Current tenants</h3>
  <%= render 'shared/flat_tenant_feed' %>
<% end %>


