<div class="invitation">
  <% unless @flat.pending_rentals.empty? %>
    <h2>Pending invite for <%= @flat.address %></h2>
    <% @flat.pending_rentals.each do |rental| %>
      <p>Your invitation to <%= rental.tenant_email %> is still pending.  </p>
        <%= link_to("Edit invitation", edit_flat_rental_path(@flat, rental)) %>

    <% end %>
  <% end %>
</div>

<% unless @flat.accepted_rentals.empty? %>
  <h3>Current tenants</h3>
  <%= render 'shared/flat_tenant_feed' %>
<% end %>


