<div class="invitation">
  <% unless @flat.pending_rentals.empty? %>
    <h3>Pending invite for <%= @flat.address %>  </h3>
    <% @flat.pending_rentals.each do |rental| %>
      <p>
        Your invitation to <%= rental.tenant_email %> is still pending.
        <%= link_to("Edit invitation", edit_flat_rental_path(@flat, rental)) %>
      </p>
    <% end %>
  <% end %>
</div>

<% unless @flat.accepted_rentals.empty? %>
  <h3>Current tenants</h3>
  <%= render 'shared/flat_tenant_feed' %>
<% end %>


