<div class="forms">
  <div class="form-box">
  <h2>Add my flat</h2>

<<<<<<< HEAD
  <%= render 'flats/flat-form' %>
</div>
=======
<div class="col-6">

<%= render 'flats/flat_form' %>

>>>>>>> master
</div>
