<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="flat-content-box">

    <h2>About this kokoon</h2>

    <p class="description"> <%= @flat.description %></p>

  </div>
</div>

<% if is_landlord?(current_user) %>
  <%= render 'flats/landlord_show' %>
<% end %>

<% if is_tenant?(current_user) %>
  <%= render 'flats/tenant_show' %>
<% end %>
