<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="col-lg-9 col-md-12 col-sm-12 flat-content-container">
    <div class="col-lg-12 col-md-12 col-sm-12 flat-show-box">
      <h3>All tickets of this flat</h3>
      <%= render 'shared/flat_ticket_feed' %>
      <div id="btn-add">
      </div>
    </div>
  </div>
</div>
