<% if @flat.tenants.include?(current_user) %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 style="color: white;">Add a new ticket</h5>
      </div>
      <div class="modal-body">
        <%# if @rental.present? %>
        <%#= render 'shared/add_ticket_form', rental: @rental, flat: @flat, ticket: Ticket.new %>
        <%# else %>
        <%= render 'shared/add_ticket_form', rental: @flat.rentals.where(tenant_id: current_user.id, pending: false).last, flat: @flat, ticket: Ticket.new %>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<% end %>
