<div class="forms">
  <div class="form-box">
      <h2 id="form-title">Add a new rental for your flat located at <strong><%= @flat.address %></strong></h2>
      <%= render 'rentals/rental_form' %>
  </div>
</div>
