<h1>My flat</h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-user booking">
        <img src=<%= img(@my_flat)%>>
        <div class="card-user-info booking">
          <h2><strong>My flat</i></h2>
          <h3><%= @my_flat.address %></h3>
          </h3>
        </div>
      </div>
    </div>
  </div>
