<!-- <div class="tickets">
<h1>My tickets</h1>
<div class="row">
  <%# 10.times do %>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-user ticket">
        <img src=<%#= asset_path("rand-bg.jpg")%>>
        <div class="ticket-info">
          <h1><strong>Toilet is not swallowing water</strong></h1>
          <h3>Priority: High 🔴</h3>
        </div>
          <img class="ticket-icon" src=<%#= asset_path("toilet.svg")%>>
          <img class="ticket-icon" src=<#%= asset_path("toilet.svg")%>>
          <img class="ticket-icon" src=<%#= asset_path("toilet.svg")%>>
         <div class="ticket-date">
          <h4><strong>Yesterday, at 17:30 h</strong></h4>
          <h5>Delete</h5>
        </div>
      </div>
    </div>
  <#% end %>
</div>
</div>
 -->
