<div class="home-container">
  <div class="home-left">
    <div class="cta-box">
      <h1>Kokoon. Better rental experiences.</h1>
      <p class="subheading">Stay ahead of what's going on in your flat. Either if you're a landlord or a tenant.</p>
      <%= button_to "SIGN IN", new_user_session_path, :class => "btn-primary" %>
    </div>
  </div>
</div>


