<div class="home-container">
  <div class="home-left">
    <div class="cta-box">
      <h1 id="title">Kokoon. Better rental experiences.</h1>
      <p id="subtitle">Stay ahead of what's going on in your flat.  <br>Either if you're a landlord or a tenant.</p>
      <%= button_to("Manage flats", new_user_registration_path, method: 'get', class: "btn-primary") %>
    </div>
  </div>
</div>


