.btn-primary {
  background-color: white;
  color: black;
  min-width: 200px;
  padding: 15px 10px;
  border-radius: 30px;
  border-color: transparent;
    -webkit-transition: all .7s ease;

  &:hover {
  background-color: rgb(2, 96, 100);
  color: white;
  border-color: transparent;
  }
}

.btn-secondary {
  background-color: rgb(3, 198, 210);
  min-width: 200px;
  padding: 15px 10px;
  border-radius: 30px;
  border-color: transparent;
    -webkit-transition: all .7s ease;

  &:hover {
  background-color: rgb(2, 96, 100);
  color: white;
  border-color: transparent;
  }
}

.btn-outline-info {
  border-color: rgb(3, 198, 210);
  &:hover {
  background-color: rgba(3, 198, 210, 0.3);
  border-color: transparent;
  text-decoration: none;
    -webkit-transition: all .7s ease;
  }

}


