.btn-primary {
  background-color: transparent;
  border: 2px solid #3f3f3f;
  color: #3f3f3f;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  margin-top: 30px;
  min-width: 150px;
  padding: 10px 30px;
  font-weight: lighter;
  border-radius: 30px;
  -webkit-transition: all 1s ease-in-out;
  text-align: center;
  &:hover {
  color: white;
  background-color: #3f3f3f;
  border: 2px solid #3f3f3f;


  }
}

.btn-secondary {
  background-color: rgb(3, 198, 210);
  min-width: 150px;
  padding: 10px 10px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border-color: transparent;
  -webkit-transition: all .7s ease;
  margin-top: 30px;
  &:hover {
  background-color: rgb(2, 96, 100);
  color: white;
  border-color: transparent;
  }
}

.btn-outline-info {
  border-color: rgb(3, 198, 210);
  &:hover {
  background-color: rgba(3, 198, 210, 0.3);
  border-color: transparent;
  text-decoration: none;
    -webkit-transition: all .7s ease;
  }

}

#btn-add {

    font-size: 1em;
    line-height: 150px;
    text-align: center;
    height: 150px;
    //background-color: red;
    a {
      border: 2px solid #03c6d2;
      padding: 10px 15px;
      border-radius: 50px;
      color: #03c6d2;
      text-decoration: none;
      -webkit-transition: all .7s ease;
      &:hover {
        color: rgb(2, 96, 100);
      }
    }
 }

.form-button-bottom {
  display: flex;
}


#btn-backtop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

